{{ partial "head.html" . }}
<body>

  {{ partial "sidebar.html" . }}

  <div class="content container">
    <div class="simple">
      <h1>{{ .Title }}</h1>
          {{ .Content }}
	
	  <!--If parameter "social_sharing" in header of a page (not article) is set to "yes", 
	  social_sharing will be enabled at bottom of post-->
	  {{ if eq .Params.social_sharing "yes" }}
	    {{ partial "social_sharing" . }}
	  {{ end }}
	
	  <!--If parameter "disqus" in header of a page (not article) is set to "yes", 
	  disqus will be enabled at bottom of post-->
	  {{ if eq .Params.disqus "yes" }}
	    {{ partial "disqus.html" . }}
	  {{ end }}  

   </div>
  </div>

</body>
</html>
