<!-- see documentation at https://dev.twitter.com/web/tweet-button -->
<div class="social-sharing-twitter" style="float: left;">
  <a class="twitter-share-button"
    href="https://twitter.com/share"
    data-url="{{ with .Params.tweet_url }}{{.}}{{ else }}{{ .Permalink }}{{ end }}"
    data-lang="en"
    data-show-count="true"
    data-via="HypriotTweets">
  Tweet
  </a>
  <script>
  window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
  </script>
</div>
